@{
    ViewData["Title"] = "Menu";
}

<h2>Menu</h2>
<div asp-validation-summary="All"></div>
<div class="btn-group">
    <a class="btn btn-dark" asp-action="Range" asp-controller="Database">Output</a>
    <a class="btn btn-dark" asp-action="CreateStar" asp-controller="Database">Star</a>
    <a class="btn btn-dark" asp-action="DeleteTable" asp-controller="Database">Delete table</a>
</div>